<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    
    <title>Search</title>
  </head>
  <body style="background-color:#4876a3;">
    <div class="background_img-1">
      <div class="header">
        <a href="/"
          ><img src="css/images/Cab-Sharing.svg" alt="" class="logo"
        /></a>
        <nav>
          <ul>
          </ul>
        </nav>
        <a href="/logout"><button class="btn" id="btn1">Log out</button></a>
      </div>

      <% if (isPost == true) { %>
        <div id="postResult">
          <% if(data.length != 0) {%>
          <h3>Result based upon your search :</h3><br>
          <% } %>
            <% var i = 0; for( i = 0; i < data.length; i++) {%>
              <div class="card">
                <div class="container">
                <h1 style = "color:black"><%= data[i].posted_by%></h1>
                <p style = "color:black"> Origin: <%=data[i].origin%></p> 
                <p style = "color:black">Destination: <%=data[i].destination%></p> 
                <p style = "color:black"> Departure:date : <%=data[i].Departuredate%> </p>
                <p style = "color:black">Time : <%=data[i].time%></p>
                <p style = "color:black"> Gender Preference : <%=data[i].Gen%></p>
                <p style = "color:black"> Number of participants preference : <%=data[i].Noof%></p>
                <p style = "color:black"> Partcipants :<% var j = 0; for( j = 0; j < data[i].accept.length; j++) {%> 
                  <%=data[i].accept[j]%>
                                                                          <%}%></p>
              <form class="request-form" action="/search" method="POST">
                <input
                  name="journeyID"
                  type="hidden"
                  value="<%=data[i]._id%>"
                />
                <input
                  type="hidden"
                  name="journeyList"
                  value="<%=JSON.stringify(data)%>"
                />
                <button class="btn" id="btn1" type="submit">Request</button>
              </form>
            </div>
          </div><br>
            <%} if(i == 0){%>
            <h3>Sorry we haven't found any user!</h3>
            <h3>Kindly fill the <a href="/travelform">Travel Form</a>.</h3>
            <h3>We will update you!</h3>
            <%}%>
          </ul>
        </div>
      </div>
      <!-- end of post -->
      <%}%> <% if(isPost ==false){%>
      <div id="search__space">
        <form action="/search" method="POST" class="form">
          <input
            id="inputOrigin"
            type="text"
            class="form__input"
            placeholder=" "
            name="origin"
            autocomplete="off"
          />
          <label for="origin" id="labelOrigin" class="form__label"
            >Origin</label
          >
          <input
            id="inputDestination"
            type="text"
            class="form__input"
            placeholder=" "
            name="destination"
          />
          <label for="destination" id="labelDestination" class="form__label"
            >Destination</label
          >
          <input
            type="date"
            name="date"
            class="form__input"
            id="inputDate"
            placeholder=" "
          />
          <label for="destination" id="labelDate" class="form__label"
            >Date</label
          >
          <input type="hidden" name="fromGET" value="false" />
          <button  type="submit">SEARCH</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
